/*
* Transponder Styles and Shiny Stuff
*/
ul#adminmenu {
	margin: 0;
}
#toplevel_page_transponder-admin > a > div.wp-menu-image.dashicons-before > img {
    padding: 4px;
}
#mytable {
    background: #fff;
    border-collapse: collapse;
}
#mytable td {
    border: 1px solid #000;
    padding: 1rem;
}
ul.wp-submenu.wp-submenu-wrap {
    margin-left: 0px;
}
#toplevel_page_transponder-admin > a {
	background: #fff !important;
	color: #000 !important;
}